.footer__menu {
  max-width: 500px;
}

@media (max-width: 475px) {
  .footer__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}
