.intro__content-row {
  max-width: 690px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
}
/*
@media (max-width: 768px) {
  .intro__content-row {
    max-width: 720px;
    margin-left: 24px;
  }
}
@media (max-width: 320px) {
  .intro__content-row {
    max-width: 288px;
    margin-left: 16px;
  }
}
*/