.place__link {
  margin: 0;
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #ffffff;
  margin-top: 12px;
}

@media (max-width: 320px) {
  .place__link {
    max-width: 288px;
    margin: 12px auto 0;
  }
}

.place__link:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
