.place {
  max-width: 984px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(460px, max-content));
  grid-template-areas:
    "title  website"
    "image paragraph-container";
  column-gap: 24px;
  row-gap: 48px;
  margin: 0 auto 80px;
}

@media (max-width: 1024px) {
  .place {
    max-width: 928px;
    grid-template-columns: repeat(auto-fit, minmax(448px, max-content));
    grid-template-areas:
      "title  website"
      "image paragraph-container";
  }
}

@media (max-width: 768px) {
  .place {
    max-width: 720px;
    grid-template-columns: repeat(auto-fit, minmax(340px, max-content));
    grid-template-areas:
      "title  website"
      "image paragraph-container";
    margin-bottom: 73px;
  }
}
@media (max-width: 670px) {
  .place {
    max-width: 650px;
    grid-template-columns:1fr;
    grid-template-areas:
      "title" 
      "website"
      "image"
      "paragraph-container";
      row-gap: 32px;
      margin: 0 auto;
  }
}
@media (max-width: 475px) {
  .place {
    max-width: 460px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "title" 
      "website"
      "image"
      "paragraph-container";
      row-gap: 32px;
      margin: 0 auto;
  }
}
@media (max-width: 320px) {
  .place {
    max-width: 320px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "website"
      "image"
      "paragraph-container";
    row-gap: 32px;
  }
}
